* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* centraliza a aplicação */

body {
    display: flex;
    justify-content: center;
    
}

/* container principal */

.app {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 320px;
    border: 1px solid black;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 8px;
    border-bottom: 2px solid black;
}

.header h1 {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

/* bobs inicio */

.bobinicio {
    padding: 8px;
    height: 110px;
    width: 110px;
}

/* icons */

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    cursor: pointer;
}

.icon:hover {
    opacity: 0.2;
}

.icon.arrow {
    height: 24px;
}

.icon.rotate {
    transform: rotate(180deg);
}

/* botoes objetivos */

.objetivo {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 100%;
    padding: 12px;
    gap: 12px;
    cursor: pointer;
}


.objetivo:hover {
    opacity: 0.9;
}

/* cores dos objetivos */

.sussa {
    background: #bbf7d0;
}

.foco {
    background: #fecaca;
}

.dormir {
    background: #bfdbfe;
}

/* lado esquerdo do objetivo */

.obj-left {
    display: flex;
    gap: 12px;
    align-items: flex-end;
}

/* imagem dos bob */

.obj-img {
    padding: 8px;
    height: 110px;
    width: 110px;
}

.obj-img2 {
    padding: 8px;
    height: 110px;
    width: 110px;
}

.obj-img3 {
    padding: 8px;
    height: 110px;
    width: 110px;
}

/* texto */

.obj-text {
    display: flex;
    flex-direction: column;
}

.obj-text h2 {
    text-align: left;
    font-size: 20px;
    line-height: 1;
    margin-top: 28px;
}

.obj-text p {
    font-size: 12px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 10px;
}

/* telas welcome */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 480px;
    width: 320px;
    padding: 40px;
    border: 1px solid black;
    text-align: center;
}

.welcome img {
    height: 100px;
}

/* botao proximo */

.botao {
    height: 40px;
    width: 100%;
    background: #93c5fd;
    border-radius: 4px;
    border: 1px solid #172554;
    cursor: pointer;
}

.botao:hover {
    background: #60a5fa;
}

/* animar bobs */

@keyframes respirar {
    0%, 100% {transform: scale(1); }
    50% { transform: scale(2); }
}

.obj-img {
    animation: respirar 3s ease-in-out infinite;
}

@keyframes foco {
    0%, 100% { transform:  translateX(0);}
    25% { transform:  translateX(-5px);}
    75% { transform: translateX(5px);}
}

.obj-img2 {
    animation: foco 0.5s infinite;
}

@keyframes dormir {
    0%, 100% {transform: translateY(0);}
    50% { transform: translateY(10px)}
}

.obj-img3 {
    animation: dormir 2.5s ease-in-out infinite;
}

/* playerSussa */

.iconefechar {
    display: flex;
    justify-content: end;
}

.iconfechar {
    height: 34px;
}

.botaofechar {
    cursor: pointer;
}

.iconfechar:hover {
    opacity: 0.2;
}

.quadrado {
    margin: 0 auto;
    border: 1px solid black;
    width: 260px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bbf7d0;
}

.bobsussa {
    padding: 4px;
    height: 110px;
    width: 110px;
}

@keyframes respirar {
    0%, 100% {transform: scale(1); }
    50% { transform: scale(1.05); }
}

.bobsussa {
    animation: respirar 3s ease-in-out infinite;
}

/* playerFoco */

.quadrado2 {
    margin: 0 auto;
    border: 1px solid black;
    width: 260px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fecaca;
}

.bobfoco {
    padding: 4px;
    height: 110px;
    width: 110px;
}

@keyframes foco {
    0%, 100% { transform:  translateX(0);}
    25% { transform:  translateX(-3px);}
    75% { transform: translateX(3px);}
}

.bobfoco {
    animation: foco 1s infinite;
}

/* playerDormir */

.quadrado3 {
    margin: 0 auto;
    border: 1px solid black;
    width: 260px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bfdbfe;
}

.bobdormir {
    padding: 4px;
    height: 110px;
    width: 110px;
}

@keyframes dormir {
    0%, 100% {transform: translateY(0);}
    50% { transform: translateY(5px)}
}

.bobdormir {
    animation: dormir 2.5s ease-in-out infinite;
}



/* ESTATISTICAS */

.body-estatis {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
}

.topo {
    border-bottom: 2px solid #bbb;
    padding: 10px;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.perfil img {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #bedbff;
}

.bloco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 0.875rem; /* pequeno */
    margin-left: 0.25rem; /* espacinho à esquerda */;   
}

.caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    background: white;
}

.numero {
    font-size: 36px;
    font-weight: bold;
}

.texto {
    font-size: 14px;
}

.baixo {
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: space-evenly;
    background: #bedbff;
}


/* animar bob estatisticas */

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.BobEstatisticas {
    animation: girar 3s linear infinite;
}

/* PLAYER TESTE1 */

.tempo {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 5px;
}

.barra {
    width: 100%;
    height: 5px;
    background: #ccc;
    margin: 5px 0;
}

.progresso {
    width: 0%;
    height: 100%;
    background-color: #444;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    cursor: pointer;
}

.play img {
    width: 80px;
}

.objetivoPlayer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.btn {
    font-size: 20px;
    width: 45%;
    margin: auto;
    display: block;
    padding: 10px;
    border: 1px solid #000;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
}